.DS_Store
HELP.md
.gradle
build/
src/main/generated/**
src/main/resources/application-prod.properties
src/main/resources/application-security.properties
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/java/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
