.speech-bubble {
  position: relative;
  background: white;
  border-radius: 1em;
  padding: 10px;
  bottom: 32px;
  box-shadow: 1px 1px 5px grey;
}

.speech-arrow {
  position: absolute;
  background-color: white;
  left: 50%;
  width: 10px;
  height: 10px;
  bottom: -6px;
  margin-left: -5px;
  transform: rotate(45deg);
  box-shadow: -5px 0px 0px white, 0px -5px 0px white, -5px -5px 0px white,
    1px 1px 5px gray;
}
