.speech-bubble {
  position: relative;
  background: white;
  border-radius: 1em;
  padding: 10px;
  bottom: 32px;
  box-shadow: 2px 2px 10px grey;
}

.bottom {
  position: absolute;
  border: 9px solid transparent;
  border-top-color: rgba(0, 0, 0, 0.08);
  border-bottom: 0;
  bottom: 0;
  left: 50%;
  margin-left: -9px;
  margin-bottom: -9px;
}

.bottom:after {
  content: "";
  position: absolute;
  border: 7px solid transparent;
  border-top-color: white;
  border-bottom: 0;
  bottom: 2.6px;
  left: -7px;
}
